.resume-section-header {
  text-align: left;
  .title {
    .glyphicon {
      color: $orange;
    }
    color: $orange;
    font-size: $font-large;
  }
  .description {
    color: $black;
    font-size: $font-small;
  }
}