<div class="resumeContainer">
  <div class="row" *ngIf="contents">
    <div *ngFor="let section of contents; let i = index;" 
      class="col col-lg-4" [ngClass]="{'col-lg-offset-2': i%2==0}">
        <h3 class="resume-section-header">
            <span class="glyphicon {{section.icon}}" aria-hidden="true"></span>
            <span class="title">{{section.title}}</span>
            <div class="content">{{section.content}}</div>
            <hello-world></hello-world>
          </h3>
    </div>
  </div>
</div>