// Get variables
@import "./src/style/_variables";

* {
  color: $black;
}

.resumeContainer {
  padding: 0;
  margin: 5px 0;
  .row {     
    .col {
      min-height: 150px;
      background-color: $white;
      text-align: left;
      &.col-padding {
        padding-left: 30px;
      }

      //Resume header
      #photo-header {      
        hr {
          padding: 0;
          margin: 5px 0;
          border-color: $grey;
        }
      }
      #text-header {
        padding: 20px 0 0;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        //animation: type 4s steps(60, end);
        h1 {
          text-transform: uppercase;
          font-size: 2em;
          letter-spacing: -1px;
          margin-top: 5px;
          span {
            color: $orange;
          }
          sup {
            opacity: 0.5;
          }
        }
      }

      /* The typing effect */
      @keyframes type {
        from { width: 0 }
      }

      // Resume sections
      .card {
        font-family:  $font-face1;
        .card-header {
          .icon, .title {
            color: $orange;
            font-size: 16px;
            font-weight: bold;
          }
        }
        .card-body {
          width: 90%;
          .card-text::before {
            content: "$ ";
          }
          .card-text::after {
            content: "| ";
            animation: blinker 1s linear infinite;
          }
          // Effects for blinking
          @keyframes blinker {  
            50% { opacity: 0; }
          }
    
          .card-text {
            padding-top: 20px;
            font-size: 12px;
            display: block;
          }
        }
      }
    }
  }
}
