// Get variables
@import "./src/style/_variables";

* {
  color: #000;
}

.resumeContainer {
  padding: 0;
  margin: 5px 0;
  .row {
    .col {
      background-color: $white;
      text-align: left;

    }
  }
}
