<div class="resumeContainer">
  <div class="row">
    <div class="col col-lg-5 col-lg-offset-1">
      <h3 class="resume-section-header">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        <span class="title">About Me</span>
      </h3>
    </div>
    <div class="col col-lg-5">
      <h3 class="resume-section-header">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <span class="title">Contact</span>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-5 col-lg-offset-1">
      <h3 class="resume-section-header">
        <span class="icon glyphicon glyphicon-briefcase" aria-hidden="true"></span>
        <span class="title">Experience</span>
      </h3>
    </div>
    <div class="col col-lg-5">
      <h3 class="resume-section-header">
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        <span class="title">Skills</span>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-5 col-lg-offset-1">
      <h3 class="resume-section-header">
        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
        <span class="title">Education</span>
      </h3>
    </div>
    <div class="col col-lg-5">
      <h3 class="resume-section-header">
        <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
        <span class="title">Certifications</span>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-5 col-lg-offset-1">
      <h3 class="resume-section-header">
        <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
        <span class="title">Projects</span>
      </h3>
    </div>
    <div class="col col-lg-5">
      <h3 class="resume-section-header">
        <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
        <span class="title">Trainings</span>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-5 col-lg-offset-1">
      <h3 class="resume-section-header">
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        <span class="title">Languages</span>
      </h3>
    </div>
    <div class="col col-lg-5">
      <h3 class="resume-section-header">
        <span class="glyphicon glyphicon-knight" aria-hidden="true"></span>
        <span class="title">Hobbies</span>
      </h3>
    </div>
  </div>
</div>