// Get variables
@import "./src/style/_variables";

* {
  color: $black;
}

.resumeContainer {
  padding: 0;
  margin: 5px 0;
  .row {     
    .col {
      min-height: 150px;
      background-color: $white;
      text-align: left;
      &.col-padding {
        padding-left: 30px;
      }

      //Resume header
      #photo-header {        
        hr {
          padding: 0;
          margin: 5px 0;
          border-color: $grey;
        }
      }
      #text-header {
        padding: 20px 0 0;
        h1 {
          text-transform: uppercase;
          font-size: 2em;
          letter-spacing: -1px;
          margin-top: 5px;
          span {
            color: $orange;
          }
          sup {
            opacity: 0.5;
          }
        }
      }

      // Resume sections
      .icon, .title {
        color: $orange;
      }
      .details::before {
        content: "$ ";
      }
      .details {
        padding-top: 20px;
        font-size: 12px;
        display: block;

        // Effects for blinking
        .texts::after {
          content: "| ";
          animation: blinker 1s linear infinite;
        }
        @keyframes blinker {  
          50% { opacity: 0; }
        }

        .texts {
          font-size: 12px;
          animation: typing 3.5s steps(4, end) forwards;
        }
        /* The typing effect */
          @keyframes typing {
            from { width: 0 }
            to { width: 100% }
          }
      }
    }
  }
}
