@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
@import "_variables";

body {
    background: $grey;
    color: $black;
    margin: 0;
    padding: 0;
    font-family: $font-face1;
}
h1, h2, h3, h4, h5, h6 {
font-family: $font-face1;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

a {
    color: $black;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
